/* navbar */
.navbar-default {
	background-color: #fff;
	transition: all ease 0.3s;

	.navbar-brand {
		font-family: "Old Standard TT";
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
		color: #000;
	}
		

	.navbar-nav>li>a {
		font-family: "Old Standard TT";
		font-size: 12.5px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #000;
	}
		

	.navbar-nav>li>a:hover {
		opacity: 0.7;
		transition: opacity 0.2s;
	}
		

	button {
		background-color: #fff;
		opacity: 0.6;
	}
}

.navbar-header {
	padding-right: 10px;
}

/* big-nav */
.big-nav.navbar-default .navbar-nav>.active> {
	a,
	a:focus,
	a:hover {
		color: #000;
		background-color: #0086b3;
		background-color: #fff;
		border: 1px solid #666;
		padding: 8px 15px;
		margin: 7px;
	}
}

.big-nav .container-fluid {
	padding-right: 50px;
	padding-left: 50px;
}

/* tranparent navbar */
.transparent {
	background: transparent;
	border-bottom: none;
	padding-top: 15px;
	transition: all ease 0.3s;

	.navbar-brand,
	.navbar-nav>li>a {
		color: #fff;
		transition: all ease 0.2s;
	}

	.navbar-nav>.active> {
		a,
		a:focus,
		a:hover {
			color: #fff;
			background: none;
			border: 1px solid #fff;
		}
	}

	.navbar-nav>.active>a:hover {
		color: #000;
		border-color: #000;
		transition: all ease 0.2s;
	}
}
	

.big-nav.transparent .navbar-nav>.active>a,
.big-nav.transparent .navbar-nav>.active>a:focus,
.big-nav.transparent .navbar-nav>.active>a:hover {
	color: #fff;
	background: none;
	border: 1px solid #fff;
}
