* {
	padding: 0;
	margin: 0;
}

html,body {
	width: 100%;
	height: 100%;
}


img {
	display: block;
	width: 100%;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;;
	-ms-user-select: none
}

p {
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 0.5px;
	text-align: justify;
}

a:hover {
	opacity: 0.5;
	transition: opacity 0.2s;
}

hr {
	border-color: #000;
	opacity: 0.2;
}

/*----- global -----*/
.underline {
	text-decoration: underline;
}

.size-up {
	font-size: 20px;
}

.size-down {
	font-size: 14px;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.top-push {
	margin-top: 5.5%;
}

.chart-size {
	width: 95%;
}

@media(max-width: 500px) {
	.chart-size {
		width: 100%;
	}
}